@import 'vars';
.menu{
    display: none;
    width: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--very-light-pink);
    padding: 0 20px;
    height: 60px;
}
.nav-logo{
    width: 100px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    border:1px solid var(--white);
    color: var(--very-light-pink);
    border-radius: 8px;
    padding: 8px;
}

.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    border:1px solid var(--hospital-green);
    color: var(--hospital-green);
    
}

.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 10px;
}
.navbar-shopping-cart{
    position: relative;
}
.navbar-shopping-cart div{
    width: 14px;
    height: 14px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: 700;
    position: absolute;
    top: -6px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media(max-width:640px){
    .menu{
        display: block;
        
    }

    .navbar-left ul{
        display: none;
    }
    .navbar-right .navbar-email{
        display: none;
    }
}