@import 'vars';
.product-card{
    width: var(--card-size);
} 
.product-card img {
    width: 100%;
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover; /*adecua el tamaño de la imagen en el contendor*/
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info div p:nth-child(1){
    font-weight: 700;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){
    font-weight: 300;
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--very-light-pink);
}
.product-info figure{
    margin: 0px;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
@media(max-width:640px){
    
    /*.cards-container{
        grid-template-columns: repeat(auto-fill, 140px);

    }

    .product-card{
        width: 140px;
    }

    .product-card img {
        height: 140px;
    }*/

    :root{
        --card-size:140px;

    }

}